# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.yarn
.yarnrc.yml
yarn.lock
.pnp.cjs
.pnp.loader.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Husky config file
.husky/.gitignore
_

# 静的コーディングのみのときはWordPressのファイルは不要なので
# ↓のコメントアウトを外して/WordPress/ディレクトリごと削除
# wordpress