{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 1080,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve"
}
