@use "base";
@use "globals";
@use "layouts";
@use "components";
@use "pages";
@use "utils";

/* 下記サンプル 構築時は削除してください */
body {
  background-color: var(--white);
}

.bg {
  width: 300px;
  height: 300px;
  background-image: image-set(
    url("/images/background.avif") type("image/avif"),
    url("/images/background.png") type("image/png")
  );
  background-size: contain;
}

.image {
  max-width: 400px;
}

.sample {
  display: flex;
  align-items: center;
}