@use "../globals/" as *;

@if $startFrom == sp {
  .l-inner {
    max-width: rem(560);
    padding-inline: var(--padding-sp);
    margin-inline: auto;
    @include mq("md") {
      box-sizing: revert;
      max-width: var(--inner);
      padding-inline: var(--padding-pc);
    }
  }
} @else {
  .l-inner {
    box-sizing: revert;
    max-width: var(--inner);
    padding-inline: var(--padding-pc);
    margin-inline: auto;
    @include mq("md") {
      padding-inline: var(--padding-sp);
    }
  }
}
