@use '../globals/' as *;

@if $startFrom == sp {
  .l-inner {
    max-width: rem(560);
    padding-inline: var(--padding-sp);
    margin-inline: auto;
    @include mq('md') {
      max-width: calc(var(--inner) + var(--padding-sp) * 2);
      padding-inline: var(--padding-pc);
    }
  }
} @else {
  .l-inner {
    max-width: calc(var(--inner) + var(--padding-pc) * 2);
    padding-inline: var(--padding-pc);
    margin-inline: auto;
    @include mq('md') {
      padding-inline: var(--padding-sp);
    }
  }
}
