@use "../../globals" as *;

.p-mv {
    position: relative;
    z-index: 1;
    min-height: calc(400 * var(--to-rem));
}

.p-mv__inner {
    height: inherit;
    min-height: inherit;
}

.p-mv__title-wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.p-mv__main-title {
    font-size: calc(40 * var(--to-rem));
    @include mq(md){
        font-size: calc(60 * var(--to-rem));
    }
}

.p-mv__sub-title {
    margin-top: calc(20 * var(--to-rem));
    font-size: calc(20 * var(--to-rem));
    @include mq(md){
        font-size: calc(35 * var(--to-rem));
    }
}

.p-mv__splide,
.p-mv__splide .splide__slide-image,
.p-mv__splide .splide__slide-image img {
    height: inherit;
    min-height: inherit;
}

.p-mv__splide .splide__slide-image img {
    width: 100%;
    object-fit: cover;
}
