@use "sass:math";


:root {
  /* color */
  --text-color: #0D2936;
  --accent-color: #408F95;
  --primary-color: #ff0000;
  --secondary-color: #0000ff;
  --white: #fff;

  /* font-weight */
  --regular: 300;
  --normal: 400;
  --medium: 500;
  --bold: 700;

  /* font-family */
  --base-font-family: 'Noto Sans JP', sans-serif;
  --second-font-family: 'Gotu', sans-serif;
  --title-font-family: 'Lato', sans-serif;
}

/* inner */
$inner: 1080px;
/* padding */
$padding-pc: 25px;
$padding-sp: 15px;


body {
  font-family: var(--base-font-family);
}
