@use "sass:math";

@property --root-font-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 16px;
}

:root {
  /* inner */
  --inner: 1080px;
  --padding-pc: 25px;
  --padding-sp: 15px;

  /* color */
  --color-white: #fff;
  --color-text: #0D2936;
  --color-black: #000;
  --color-gray: #F0F0F0;
  --color-accent: #408F95;
  --color-primary: #234F5E;
  --color-secondary: #0000ff;
  --color-orange: #DE8430;

  /* font-weight */
  --regular: 300;
  --normal: 400;
  --medium: 500;
  --bold: 700;

  /* font-family */
  --base-font-family: 'Noto Sans JP', sans-serif;
  --second-font-family: 'Gotu', sans-serif;
  --title-font-family: 'Lato', sans-serif;


  /* 8pxを余白の基準とした余白ルール */
  /* 参考：https://www.tak-dcxi.com/article/use-line-height-trim-as-css-variable/ */
  --leading-trim: calc((1em - 1lh) / 2);
  --spacing-unit: 0.5rem; //8px

  --spacing-xs: calc(var(--spacing-unit) / 2); //4px
  --spacing-sm: var(--spacing-unit); //8px
  --spacing-md: calc(var(--spacing-unit) * 2); //16px
  --spacing-lg: calc(var(--spacing-unit) * 3); //24px
  --spacing-lg-2: calc(var(--spacing-unit) * 4); //32px
  --spacing-xl: calc(var(--spacing-unit) * 5); //40px
  --spacing-xl-2: calc(var(--spacing-unit) * 6); //48px
  --spacing-2xl: calc(var(--spacing-unit) * 8); //64px
  --spacing-3xl: calc(var(--spacing-unit) * 13); //124px

  /* line-height分の余白を打ち消す */
  --spacing-xs-trim: calc(var(--spacing-xs) + var(--leading-trim));
  --spacing-sm-trim: calc(var(--spacing-sm) + var(--leading-trim));
  --spacing-md-trim: calc(var(--spacing-md) + var(--leading-trim));
  --spacing-lg-trim: calc(var(--spacing-lg) + var(--leading-trim));
  --spacing-xl-trim: calc(var(--spacing-xl) + var(--leading-trim));
  --spacing-2xl-trim: calc(var(--spacing-2xl) + var(--leading-trim));
  --spacing-3xl-trim: calc(var(--spacing-3xl) + var(--leading-trim));

  /* --leading-trimの使い方 */
  // h2 {
  //   /* デザインカンプで取得した余白が32pxの場合 */
  //   margin-block-start: calc(32px + var(--leading-trim));
  // }

  // 16pxを基準として、1pxあたりのremを計算
  --to-rem: calc(tan(atan2(1px, var(--root-font-size))) * 1rem);
  // how to use
  // font-size: calc(16 * var(--to-rem));
}

@supports not (top: 1lh) {
  :root {
    --leading-trim: 0px;
    /* `px`などの単位が必要 */
  }
}
