@use "../global" as *;

.c-button {
  padding: calc(14 * var(--to-rem)) calc(60 * var(--to-rem));
  position: relative;
  display: inline-block;
  font-size: calc(15 * var(--to-rem));
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-black);
  border: 1px solid currentColor;
  background-color: var(--color-white);
}

.c-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(20 * var(--to-rem));
  width: calc(8 * var(--to-rem));
  height: calc(8 * var(--to-rem));
  border-block-start: calc(2 * var(--to-rem)) solid var(--color-black);
  border-inline-end: calc(2 * var(--to-rem)) solid var(--color-black);
  transform: translateY(-50%) rotate(45deg);
  transition: .3s;
}

.c-button:hover {
  @include mq(md) {
      opacity: 1;
  }
}

.c-button:hover::before {
  @include mq(md){
      right: calc(15 * var(--to-rem));
  }
}

// Modifier
.c-button.c-button--black {
  color: var(--color-white);
  background-color: var(--color-black);
}

.c-button.c-button--black::before {
  border-block-start: calc(2 * var(--to-rem)) solid currentColor;
  border-inline-end: calc(2 * var(--to-rem)) solid currentColor;
}
