@use "../global" as *;

.c-section-title {
  position: relative;
  font-size: calc(40 * var(--to-rem));
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  @include mq(md){
      font-size: calc(60 * var(--to-rem));
  }
}

.c-section-title.c-section-title--left {
  text-align: left;
}

.c-section-title.c-section-title--right {
  text-align: right;
}

.c-section-title::before {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-gray);
  font-size: calc(80 * var(--to-rem));
  @include mq(md){
      font-size: calc(120 * var(--to-rem));
  }
}

.c-section-title.c-section-title--left::before {
  left: 0;
  transform: translate(0, -50%);
}

.c-section-title.c-section-title--right::before {
  right: 0;
  left: initial;
  transform: translate(0, -50%);
}
